body {
    display: grid;
    gap: 1em;
    padding: 2em 2vw;
}

.weather {
    display: grid;
    grid-template-areas:
        'place coords'
        'entry entry';
    padding: 0 2vw;
}

.input-form {
    display: grid;
    gap: 0.2em;
    border: solid 1px #ccc;
    padding: 5px 8px;
}

.input-form input {
    width: 100%;
    border: none;
    outline: 0;
    margin-bottom: 1em;
}

.input-form textarea {
    width: 100%;
    border: none;
    outline: 0;
    height: 10vh;
}

.input-form button {
    width: fit-content;
    justify-self: center;
}

.weather-coords {
    grid-area: coords;
    justify-self: end;
    display: grid;
    column-gap: 5px;
}

.weather-coords b {
    justify-self: end;
}

#feelings-form.hidden {
    visibility: hidden;
}

.weather.hidden {
    visibility: hidden;
}

#entryHolder {
    grid-area: entry;
}

#noDataText {
    width: 100%;
    text-align: center;
}

#noDataText.hidden {
    display: none;
}

@media (min-width: 500px) {
    .weather-coords .lon {
        grid-column: 2/2;
    }
}

@media (min-width: 600px) {
    body {
        padding: 2em 10vw;
    }
}

@media (min-width: 900px) {
    .weather {
        padding: 0 5vw;
    }
}

.saved-feeling {
    border: solid 1px #ccc;
    padding: 5px;
}

#saved-feeling-section {
    display: grid;
    grid: initial;
    gap: 5px;
}
